/* SideMenu.css */
.side-menu {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1a3a5b;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
  z-index: 999;
}

.side-menu.open {
  width: 250px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 8px 8px 8px 32px;
  font-size: 20px; /* Smanjena veličina fonta za bolju preglednost */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 100% !important;
}

.side-menu ul li:hover {
  background-color: #e0effd;
}

.side-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100% !important;
  display: block;
  text-align: center;
  padding: 1rem 0; /* Povećan padding za bolju klikabilnost */
}

.side-menu ul li a:hover {
  color: #1a3a5b; /* Promena boje teksta na hover */
}

#special__link { 
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100% !important;
  display: block;
  text-align: center;
  padding: 1rem 0;
} 

.menu-icon {
  font-size: 1.5rem;
  color: #1a3a5b;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.close-icon {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  display: none;
}

.side-menu.open + .close-icon {
  display: block;
}

.side-menu.open ~ .menu-icon {
  display: none;
}

.tapered-line {
  width: 80%; /* Smanjena širina linije za bolju estetiku */
  height: 1px; /* Podešavanje visine po potrebi */
  background: linear-gradient(to right, transparent 0%, rgb(252, 252, 252) 50%, transparent 100%);
  margin: 0.5rem auto; /* Dodata margina za razmak između linija */
}

.side-menu__img { 
  width: 70%; /* Smanjena širina slike za bolju proporciju */
  margin: 2rem auto !important;
  margin-bottom: 0rem !important;
  transform: scale(0.7); /* Korišćenje transform za skaliranje */
  transition: transform 0.3s ease-in-out;
} 

.side-menu #side-menu__text { 
  width: 100%;
  color: rgb(255, 142, 0);
  text-align: center;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem; /* Dodata margina za razmak između slike i teksta */
}

/* Responsive Dizajn */
@media (max-width: 812px) {
  .side-menu {
      width: 250px;
  }

  .side-menu ul li {
      font-size: 18px; /* Smanjena veličina fonta za manje ekrane */
  }

  .side-menu__img {
      width: 60%;
  }

  #side-menu__text {
      font-size: 1rem;
  }
}
