

.PasswordResetForm2 { 
    display: flex;
    flex-direction: column; 
    width: 20%;
    background-color: rgba(222, 184, 135, 0.566);
    min-height: 30vh;
    height: fit-content; 
    margin: auto;
}

.PasswordResetForm2 label { 
    width: 90%;
    padding: .5rem;
}

.PasswordResetForm2 input, .PasswordResetForm2  button { 
    width: 90%;
    padding: .5rem;
}