

.PasswordResetForm { 
    display: flex;
    flex-direction: column; 
    width: 30%;
    min-height: 30vh;
    height: fit-content; 
    margin: auto;
}

.PasswordResetForm label { 
    width: 95%;
    text-align: center;
    padding: .5rem 0;
}

.PasswordResetForm input, .PasswordResetForm  button { 
    width: 90%;
    padding: .5rem 0;
}