

.PasswordResetForm { 
    display: flex;
    flex-direction: column; 
    width: 30%;
    min-height: 30vh;
    height: fit-content; 
    margin: auto;
}

.PasswordResetForm label { 
    width: 95%;
    text-align: center;
    padding: .5rem 0;
} 

.PasswordResetForm p { 
    min-height: 40vh;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.PasswordResetForm  button { 
    width: 40%;
    margin: .5rem auto;
    padding: .5rem 0;
}

.PasswordResetForm input { 
    width: 90%;
    margin: .5rem auto;
    padding: .5rem 0;
}